{% extends 'WikiLankaWelcomeBundle:Login:parent.html.twig' %}
{% block content %}
<br>
<h3 align="center" ><font color="red">Error</font></h3>
<p align="center"><font color="red">{{message}}</font></p>


{% endblock %}