<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="600px" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top"><img src="http://www.pixelzexplorer.org/images/top.jpg" width="600px" height="106px" style="display:block;"></td>
  </tr>
  <tr>
    <td align="center" valign="top" bgcolor="#f1f69d" style="background-color:#f1f69d; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; padding:10px;"><table width="400px" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
        <tr>
          <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;">
          
          <div style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:56px; color:#000000;">Wiki<span style="color:#478730;">Lanka</span> App</div>
          <img src="http://www.pixelzexplorer.org/images/mainpic.png" width="200" height="200" align="right" style="margin-left:10px;">
		  <div style="font-size:28px;"><br>
            Hi {{name}}! <br> Your account is ready to be activated.</div>
            <div> <br><br><br><br>
                                Please click the following link to activate your account: <br><a href="{{activate}}">Click Here</a>
              <br><br><br>
                          <font color="red">If you didn't regsiter at Wiki Lanka, please click the following link to delete this account. </font><br><a href="{{delete}}">Click Here</a>
            </div></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="left" valign="bottom"><img src="http://www.pixelzexplorer.org/images/down.jpg" width="600" height="106" style="display:block;"></td>
  </tr>
</table>
</body>
</html>
